<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../lib/bootstrap-5.3.3-dist/css/bootstrap.css">
        <title>Document</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col emenu amarillo texto"><a href="templates/pagina2.html">PRODUCTOS/SERVICIOS</a></div>
                <div class="col emenu celeste texto"><a href="templates/pagina3.html">TIENDAS</a></div>
                <div class="col emenu azul texto"><a href="templates/pagina4.html">REGISTRATE</a></div>
            </div>
        </div>

        <h1>NUESTRAS TIENDAS</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="../image/imagen11.jpg" class="imgtam" alt="ropero1">
                </div>
                <div class="col">
                    <h4>MUEBLERÍA MABE</h4>
                    <ul>
                        <li>TEL: 4595-6891</li>
                        <li>DIRECCIÓN: 10ma. Calle A Ciudad de Guatemala</li>
                        <li>CORREO ELECTRONICO: muebleriamabe@gmail.com</li>
                        <li>HORARIO DE ATENCIÓN: de 8:00am a 6:00pm</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../image/imagen12.jpg" class="imgtam" alt="ropero2">
                </div>
                <div class="col">
                    <h4>MUEBLERÍA TROPIGAS</h4>
                    <ul>
                        <li>TEL: 2034-8043</li>
                        <li>DIRECCIÓN: 8va. Calle C Ciudad de Guatemala</li>
                        <li>CORREO ELECTRONICO: muebleriatropigas1@gmail.com</li>
                        <li>HORARIO DE ATENCIÓN: de 8:00am a 6:00pm</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../image/imagen13.jpg" class="imgtam" alt="ropero1">
                </div>
                <div class="col">
                    <h4>MUEBLERÍA ESTRELLA</h4>
                    <ul>
                        <li>TEL: 5037-8142</li>
                        <li>DIRECCIÓN: 2da.. Calle F Ciudad de Guatemala</li>
                        <li>CORREO ELECTRONICO: muebleriaestrella@gmail.com</li>
                        <li>HORARIO DE ATENCIÓN: de 8:00am a 6:00pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row azul2">
                <div class="col texto">
                    <span class="linespacio">PBX: 5034-7628       -       DIRECCIÓN: 40 Calle 8-46 zona 5 Ciudad de Guatemala</span>             
                    <span>CARNET: 202112444  -  NOMBRE: Katherine Villavicencio</span>
                </div>
            </div>
        </div>

    </body>
</html>